<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Surf Photo Session</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>

  <ion-button (click)="emailMe()" expand="block" color="tertiary"> Email  </ion-button> 

  <p>Where?</p>
  <br><br>
  <p>When?</p>
  <br><br>
  <p>Split?</p>
  <br><br>
  <p>Video, Photo, or Both</p>
  <br><br>
  <p>How Long?</p>
  <br><br>
  <p>Button to send form </p>
  <br><br>
</ion-content>  -->



<!-- <ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>E-mailer</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content padding>
  
  <form 
     [formGroup]="form" 
     (ngSubmit)="sendMessage()">

     <ion-list>


        <ion-item margin-bottom> 
           <ion-label>To:</ion-label> 
           <ion-input
              type="email"
              formControlName="to"></ion-input> 
        </ion-item>


        <ion-item margin-bottom> 
           <ion-label>Cc:</ion-label> 
           <ion-input
              type="email"
              formControlName="cc"></ion-input> 
        </ion-item>


        <ion-item margin-bottom> 
           <ion-label>Bcc:</ion-label> 
           <ion-input
              type="email"
              formControlName="bcc"></ion-input> 
        </ion-item>


        <ion-item margin-bottom> 
           <span
              ion-button
              color="primary"
              text-center
              block 
              (click)="retrieveAttachment()">Attachment</span> 
        </ion-item>


        <ion-item margin-bottom> 
           <ion-label>Subject:</ion-label> 
           <ion-input
              type="string"
              formControlName="subject"></ion-input> 
        </ion-item>


        <ion-item margin-bottom> 
           <ion-label>Message:</ion-label> 
           <ion-textarea
              formControlName="message"></ion-textarea> 
        </ion-item>
  
  
        <button
           ion-button
           color="primary"
           text-center
           block [disabled]="!form.valid">Send your message</button>
     </ion-list> 
  </form>
</ion-content> -->

<ion-content padding>

  <!-- <ion-button (click)="sendEmail()" expand="block" color="tertiary"> Book </ion-button>  -->
  <!-- <ion-button expand="block" color="tertiary"> Book </ion-button>  -->

  <!-- <ul>
    <li *ngFor="let photoPeep of photoPeeps">
      <h2>{{photoPeep.name}}</h2>
    </li>
  </ul> -->
  <!-- <ion-button (click)="findPhotographers()" expand="block" color="tertiary"> Get Photo Peeps Object </ion-button>
  <ion-button (click)="listPhotographersRegionally()" expand="block" color="tertiary"> Show a list of Photographers by
    Region </ion-button> -->
<!-- 

  <div *ngIf="photographerFlag === true">
    <ion-button (click)="unListPhotographers()" expand="block" color="tertiary"> Show a list of Photographers
    </ion-button>
  </div>

  <ion-button (click)="listPhotographers()" expand="block" color="tertiary"> {{ showPhotographers ? 'Remove the list of
    Photographers' : 'Show a list of Photographers' }} </ion-button> -->

<!--     
  <div *ngIf="regionFlag === false">
    <ion-button (click)="listRegions()" expand="block" color="tertiary"> Show a list of Regions </ion-button>
  </div>
  <div *ngIf="regionFlag === true">
    <ion-button (click)="removeRegions()" expand="block" color="tertiary"> Remove a list of Regions </ion-button>
  </div> -->


  <div *ngIf="regionFlag === true">
    <ion-list>

      <ion-list-header>
        View Photographers by Region
      </ion-list-header>
      <div *ngFor="let region of regions">

        <ion-item>
          <ion-buttons (click)="showPhotographersInRegion(region.ID)">
            <ion-label>
              <h2>{{region.Name}}</h2>
              <!-- <h3>{{region.ID}}</h3> -->
              <!--   <p>Region: {{photoPeep.Region}}</p> -->
            </ion-label>
          </ion-buttons>
        </ion-item>

      </div>
    </ion-list>

  </div>


  <div *ngIf="showPhotographers === true">
    <ion-list>


      <ion-list-header>
        Click on a Photographer
      </ion-list-header>

      <div *ngFor="let photoPeep of photoPeeps">
        <ion-buttons (click)="showPhotographer(photoPeep)">

          <ion-item>
            <ion-avatar slot="start">
              <!-- <div *ngIf="{{photoPeep.name}} === 'Bobby Whittemore'"> -->
              <img src="{{photoPeep.pic}}">
              <!-- </div> -->
            </ion-avatar>
            <ion-label>
              <h2>{{photoPeep.Company}}</h2>
              <h3>{{photoPeep.name}}</h3>
              <p>Region: {{photoPeep.Region}}</p>
            </ion-label>
          </ion-item>
        </ion-buttons>
      </div>

    </ion-list>
  </div>





  <ion-card>

  </ion-card>

  <div *ngIf="singlePhotoBool === true">

    <div class="photographer-card">

    <ion-card >
<!--    
        <img
        class="demo-bg"
        src="../../../../../assets/img/background-wave.png"
        alt=""
      > -->
 
      <ion-card-header>
        <ion-card-subtitle>
          <ion-grid>
            <ion-row>
              <ion-col>{{photographerName}}

              </ion-col>
              <ion-col>

              </ion-col>
              <ion-col>@{{photographerUserName}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-subtitle>
        <ion-card-title>{{photographerCompany}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>Region: {{photographerRegion}}</p>
        <br>
        <p>Price: {{photographerPrice}}/hr</p>
        <br>
        <p>Email: {{photographerEmail}}</p>
        <br>
        <p>Phone: {{photographerPhone}}</p>
        <br>
        <ion-button (click)="showPrompt(photographerName, photographerCompany)" expand="block" routerDirection="forward"
        color="secondary"> Book {{photographerName}} </ion-button>
        <br>
        <ion-item> <img src="{{photographerPic}}"></ion-item>
        <br>

    
        <ion-item color="clear">

          <ion-grid>
            <ion-row>
             <ion-col></ion-col>
             <ion-col></ion-col>
             <ion-col></ion-col>
             <ion-col size="auto"> <p>Connect with {{photographerName}}</p>
            </ion-col>
            <ion-col></ion-col>
              <ion-col></ion-col>
              <ion-col></ion-col>
            </ion-row>
            <ion-row>
              <ion-col></ion-col>
              <ion-col>
                <div class="social-icons" (click)="socialMedia('FACEBOOK')">
                  <ion-icon name="logo-facebook"></ion-icon>
                </div>
            </ion-col>
            <ion-col></ion-col>
              <ion-col>
                <div class="social-icons" (click)="socialMedia('INSTAGRAM')">
                <ion-icon name="logo-instagram"></ion-icon>
              </div>
            </ion-col>
            <ion-col></ion-col>
              <ion-col>  <div class="social-icons" (click)="socialMedia('TWITTER')">
                <ion-icon name="logo-twitter"></ion-icon>
              </div>
            </ion-col>
            <ion-col></ion-col>
              <ion-col> 
                <div class="social-icons" (click)="socialMedia('YOUTUBE')">
                <ion-icon name="logo-youtube"></ion-icon>
              </div>
            </ion-col>
            <ion-col></ion-col>
              <ion-col><div class="social-icons" (click)="socialMedia('VENMO')">
                <ion-icon name="logo-venmo"></ion-icon>
              </div>
            </ion-col>
              <ion-col></ion-col>
        
            </ion-row>
        
            <!-- <ion-row>   
              <ion-col></ion-col>
              <ion-col size="auto">
                <ion-img src ="assets/img/icon.png"></ion-img>
              </ion-col>
              <ion-col></ion-col>
            </ion-row> -->
        
            </ion-grid>
        </ion-item>
        <ion-item color="clear">
          
          <ion-grid>
            <ion-row>
             <ion-col></ion-col>
             <ion-col><ion-button (click)="openWebsite(photographerWebsite)" fill="clear"
              color="secondary"> <ion-text color="light">{{photographerName}}'s &nbsp;</ion-text> Website </ion-button></ion-col>
             <ion-col></ion-col>
             </ion-row>
             </ion-grid>
             
             <p></p></ion-item>
  <br>
 
  <br>

          
      </ion-card-content>
  
    </ion-card>
  </div>
</div>


    <div *ngIf="displayByRegion === true">
      <ion-list>


        <ion-list-header>
          {{selectedRegion}}
        </ion-list-header>


        <div *ngFor="let regArr of newRegArr">
          <!-- <div *ngIf="photographerRegion  === selectedRegion"> -->


          <ion-item>
            <ion-avatar slot="start">
              <!-- <div *ngIf="{{photoPeep.name}} === 'Bobby Whittemore'"> -->
              <img src="../../../../../assets/img/photographers/{{regArr}}">
              <!-- </div> -->
            </ion-avatar>
            <ion-label>
              <h2>{{regArr.name}}</h2>
              <h2>{{regArr.Company}}</h2>
              <h3>{{regArr.name}}</h3>
              <p>Region: {{regArr.Region}}</p>
            </ion-label>
          </ion-item>

          <!-- </div> -->
        </div>

      </ion-list>
    </div>

    <!-- <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Card Link Item 1 activated</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Card Link Item 2</ion-label>
    </ion-item>
  
    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Card Button Item 1 activated</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Card Button Item 2</ion-label>
    </ion-item>
  </ion-card> -->




</ion-content>