<ion-header>
  <ion-toolbar class="myToolBar">
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>


    <ion-buttons routerLink="/tabs/home" routerDirection="forward" color="clear">
    <ion-thumbnail slot="start" size="auto">
      <ion-img src ="assets/img/icon.png"></ion-img>
    </ion-thumbnail>
  </ion-buttons>
    <!-- <ion-title>Book</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="content">
    <!-- <ion-row>   
      <ion-col></ion-col>
      <ion-col size="auto">
        <ion-img src ="assets/img/rawsurf-sticker-ss.png"></ion-img>
      </ion-col>
      <ion-col></ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col></ion-col>
   <ion-col size="auto">
</ion-col>
   <ion-col size="auto">   
          <h1>Types of Booking</h1>
          </ion-col>
    <ion-col></ion-col>
  
    </ion-row>




    </ion-grid>

  <br><br><br>
  <ion-card color="medium">
    <div class="ion-text-center">
    <h1>Surf Schools</h1>
    <h2>Book a session with our surf school partners</h2>
  </div>
    <ion-button routerLink="/surftrip" expand="block" routerDirection="forward" color="secondary">  Book Surf School Session </ion-button> 

  </ion-card>
  <ion-card color="medium">
  <div class="ion-text-center">
    <h1>Surf Photographer</h1>
    <h2>Stop having your friends capture photos and videos of you on a mobile phone!
    </h2><br><br>
  </div>
    <ion-button routerLink="/tabs/book/ph-booking" expand="block" routerDirection="forward" color="secondary">  Book a Surf Photographer  </ion-button> 
    
  </ion-card>
  <ion-card color="medium">
    <div class="ion-text-center">
    <h1>Surf Trip</h1>
    <h2>Sit back and relax. We got this one!</h2>
  </div>
    <ion-button routerLink="/surftrip" expand="block" routerDirection="forward" color="secondary">  Book a Surf Trip  </ion-button> 
  
  </ion-card>


</ion-content>
