<ion-header>
  <ion-toolbar>
    <ion-title>Book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  A form will be here<br>
  asking for for the time and location<br>
  which will then send an email to admin<br>


  <br><br><br>
  <ion-button routerLink="/tabs/book/ph-booking" expand="block" routerDirection="forward">  Book a Surf Photographer  </ion-button> 
  <ion-button routerLink="/surftrip" expand="block" routerDirection="forward">  Book a Surf Trip  </ion-button> 
</ion-content>
