<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <!-- <ion-button (click)="onOpenMenu()">
        Open
      </ion-button> -->
    </ion-buttons>
    <ion-title>Book Surf Trip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  A form will be here<br>
  asking for for the time and location<br>
  which will then send an email to admin1242134<br>


  <br><br><br>
  <ion-button routerLink="/tabs" expand="block" routerDirection="forward">  Book a Surf Photographer12  </ion-button> 
  <ion-button routerLink="/surftrip" expand="block" routerDirection="forward">  Book a Surf Trip  </ion-button> 
</ion-content>
