<ion-header >


  <ion-toolbar class="myToolBar">
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>


    <ion-buttons routerLink="/tabs/home" routerDirection="forward" color="clear">
    <ion-thumbnail slot="start" size="auto">
      <ion-img src ="assets/img/icon.png"></ion-img>
    </ion-thumbnail>
  </ion-buttons>
    <!-- <ion-title>
      <p align="right" style="color:white;">Home</p>
      
    </ion-title> -->
  </ion-toolbar>
  <!-- <ion-toolbar> <p align="left" style="color:white;">Good Day Mate!</p></ion-toolbar> -->
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <p [innerHTML]="user.email"></p> -->
  
  <!-- <ion-button (click)="signUp()">  
  Sign Up
</ion-button>  
<ion-button (click)="login()">  
  Login
</ion-button>  

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
<!-- 
<div>Hello {{myName}}. Glad to see you!</div> -->

  <!-- <ion-button (click)="signOut()" routerLink="/login" expand="block">  Sign Out  </ion-button>  -->
  <!-- <ion-button (click)="getUserInfo()" expand="block">  User email  </ion-button>  -->

  <ion-grid class="content">
    <ion-row>
      <ion-col></ion-col>
   <ion-col size="auto">
</ion-col>
   <ion-col size="auto">   
          <h1>Raw Surf App</h1>
          </ion-col>
    <ion-col></ion-col>
  
    </ion-row>

   
    <ion-row>
      <ion-col></ion-col>
      <!-- <ion-col></ion-col> -->
      <ion-col size="auto"> 
        <!-- <ion-text color="secondary"> -->
          <ion-text>
        Thanks for downloading an early release of The Raw Surf App.
        Check in frequently to see what new features have been added. 
      </ion-text>
     </ion-col>
      <!-- <ion-col></ion-col> -->
      <ion-col></ion-col>
  
    </ion-row>

    <ion-row>   
      <ion-col></ion-col>
      <ion-col size="auto">
        <ion-img src ="assets/img/icon.png"></ion-img>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    </ion-grid>
    <!-- <div>
      <div class="horizontal">
        <p class="font-size-16">Like, Follow and Share The Raw Surf App</p>
      </div>
      <div class="horizontal">
        <div class="social-icons" (click)="socialMedia('FACEBOOK')">
          <ion-icon name="logo-facebook"></ion-icon>
        </div>
        <div class="social-icons" (click)="socialMedia('INSTAGRAM')">
          <ion-icon name="logo-instagram"></ion-icon>
        </div>
        <div class="social-icons" (click)="socialMedia('TWITTER')">
          <ion-icon name="logo-twitter"></ion-icon>
        </div>
  <div class="social-icons" (click)="socialMedia('YOUTUBE')">
          <ion-icon name="logo-youtube"></ion-icon>
        </div>
      </div>
    </div> -->

</ion-content>
