<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="title3" size="large" color="dark">Raw Surf </ion-title>
  </ion-toolbar>
  <ion-toolbar class="toolProfile3">

    <ion-button expand="outline" slot="end">
      <ion-buttons slot="end">
        <ion-menu-button color="light" size="large"></ion-menu-button>
      </ion-buttons>
    </ion-button>

    <div class="pad-rt">
      <ion-col sixe="auto">
        <ion-row>
          <ion-buttons routerLink="/profile" routerDirection="forward" color="clear">

            <ion-avatar>
              <ion-img src="assets/img/userProfilePic1.png"></ion-img>
            </ion-avatar>

          </ion-buttons>
        </ion-row>
        <ion-row>
          {{ myName }}
        </ion-row>
      </ion-col>
    </div>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down-outline" pullingText="Pull to refresh" refreshingSpinner="crescent"
      refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>


  <div class="theRest">
    <ion-card>
      <ion-grid class="content">
        <ion-text>
          <ion-row>
            <ion-col></ion-col>
            <ion-col class="hello" size="auto">
              Hello,
            </ion-col>
            <ion-col size="auto">
              <ion-buttons routerLink="/profile" routerDirection="forward" color="clear">
                <div *ngIf="myName">
                  <div class="userName">{{ myName }}
                  </div>
                </div>
              </ion-buttons>
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
        </ion-text>
      </ion-grid>
    </ion-card>

    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col size="auto">
            <h2>
              <ion-text color="tertiary">Raw Surf Links:</ion-text>
            </h2>
          </ion-col>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <div class="social-icons" (click)="socialMedia('FACEBOOK')">
              <ion-icon name="logo-facebook" color="blue"></ion-icon>
            </div>
          </ion-col>
          <ion-col></ion-col>
          <ion-col>
            <div class="social-icons" (click)="socialMedia('INSTAGRAM')">
              <ion-icon class="insta" name="logo-instagram"></ion-icon>
            </div>
          </ion-col>
          <ion-col></ion-col>
          <ion-col>
            <div class="social-icons" (click)="socialMedia('TWITTER')">
              <ion-icon class="twitter" name="logo-twitter"></ion-icon>
            </div>
          </ion-col>
          <ion-col></ion-col>
          <ion-col>
            <div class="social-icons" (click)="socialMedia('YOUTUBE')">
              <ion-icon name="logo-youtube" class="youtube"></ion-icon>
            </div>
          </ion-col>
          <ion-col></ion-col>
          <ion-col>
            <div class="social-icons" (click)="socialMedia('VENMO')">
              <ion-icon class="venmo" name="logo-venmo"></ion-icon>
            </div>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="auto">
          <ion-img src="assets/img/icon.png"></ion-img>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>

    </ion-grid>
  </div>


</ion-content>