<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">  <ion-back-button></ion-back-button>  </ion-buttons> 
      <ion-title size="large">SignUp</ion-title>
    </ion-toolbar>
  </ion-header>



    <div class="ion-padding">
      <ion-button routerLink="/home" expand="block" routerDirection="forward">  SignUp  </ion-button> 
    </div>

</ion-content>
