<ion-header>
  <ion-toolbar>
    <ion-title>payments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-button 
  type="button" 
  color="clear" 
  fill="clear" 
  expand="block"
  (click)="payPalPay()">
 <ion-img src="/assets/img/payments/paypal-button.png"></ion-img>
  </ion-button>


  <ion-button 
  type="button" 
  color="secondary" 
  fill="outline" 
  expand="block"
  (click)="venmoPay()">
   <ion-text color="light">Pay with Venmo &nbsp; </ion-text> 
 
  </ion-button>

  <ion-button 
  type="button" 
  color="secondary" 
  fill="outline" 
  expand="block"
  (click)="stripePay()">
   <ion-text color="light">Pay with stripe &nbsp; </ion-text> 
 
  </ion-button>

  <!-- <ion-button 
  type="button" 
  color="secondary" 
  fill="outline" 
  expand="block"
  (click)="venmoPay()">
   <ion-text color="light">Pay with Venmo &nbsp; </ion-text> 
 
  </ion-button>


  <ion-button 
  type="button" 
  color="secondary" 
  fill="outline" 
  expand="block"
  (click)="venmoPay()">
   <ion-text color="light">Pay with Venmo &nbsp; </ion-text> 
 
  </ion-button>

  <ion-button 
  type="button" 
  color="secondary" 
  fill="outline" 
  expand="block"
  (click)="venmoPay()">
   <ion-text color="light">Pay with Venmo &nbsp; </ion-text> 
 
  </ion-button> -->


</ion-content>
