<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->

<!-- <ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>


      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app> -->

<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar 
      color="tertiary">
        <ion-title>
          R
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-header>
        <ion-toolbar color="secondary">
          <ion-title>
            A
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-header>
        <ion-toolbar color="brandred">
          <ion-title>
            W
          </ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/profile">
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/settings">
            <ion-icon name="checkbox-outline" slot="start"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/beach-read">
            <ion-icon name="checkbox-outline" slot="start"></ion-icon>
            <ion-label>Brevard Beaches</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>



          
        </ion-menu-toggle>
        <div id="container">
        <ion-item>
          <br><br><br><br><br>
          <!-- <ul>
            <li *ngFor="let users of JsonUsers">
              <h2>{{users.name}}</h2>
            </li>
          </ul> -->
        </ion-item>
        <ion-item>
          <strong>App Name: &nbsp; &nbsp;</strong>  <ion-text color="dark">
            <p>Raw Surf</p>
          </ion-text><br>
        </ion-item>
        <!-- <ion-item>
          <strong>Pacakge name:</strong> {{ ionPackageName }} <br>
        </ion-item> -->
        <ion-item>
          <strong>Version number: &nbsp; &nbsp;</strong>      <div *ngIf="versionNumber">
            <ion-text color="dark">
              <p>{{versionNumber}}</p>
            </ion-text>
          </div> <br>
        </ion-item>
        <!-- <ion-item>
          <strong>Version code:</strong> {{ ionVersionCode }}
        </ion-item>
        <ion-item>
     
        </ion-item> -->

        <!-- <ion-item>     
          <p>App Version</p>
        </ion-item> -->
      </div>
       
      </ion-list>
   
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>

