<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" style="color:red" (click)="signOut()" routerLink="/login">
     Sign Out
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <p [innerHTML]="user.email"></p> -->
  
  <!-- <ion-button (click)="signUp()">  
  Sign Up
</ion-button>  
<ion-button (click)="login()">  
  Login
</ion-button>  

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
  
<!-- <div *ngIf="displayName">Hello {{displayName}}. Glad to see you!</div> -->

<!-- <div *ngFor="let user of users | async"></div>
<p>{{currentUser.email}}</p>
<p>{{currentUser.displayName}}</p>
<p>{{currentUser.uid}}</p> -->

<div *ngIf="myName">Hello {{myName}}. Glad to see you!</div>
<div *ngIf="!myName">Your displayName has not been set. <br>To change it go to menu then profile!</div>
<!-- <div *ngIf="currentUser">Hello {{currentUser.displayName}}. Glad to see you!</div> -->
<!-- <div *ngIf="!currentUser">Your displayName has not been set. <br>To change it go to menu then profile!</div> -->


<!-- <div *ngIf="user$ | async as user">Hello {{ user.displayName}}. Glad to see you!</div> -->

<!-- <div *ngIf="!myName">Your displayName has not been set. <br>To change it go to menu then profile!</div> -->
<br><br>


<br><br>
  <!-- <ion-button (click)="reloadHome()" expand="block">  Reload  </ion-button>  -->
  <!-- <ion-button (click)="signOut()" routerLink="/login" expand="block">  Sign Out  </ion-button>  -->
  <!-- <ion-button (click)="getUserInfo()" expand="block">  User email  </ion-button>  -->
</ion-content>
